@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700');

* {
  margin: 0;
  padding: 0;
  font-family: Roboto;
  -webkit-font-smoothing: antialiased;
}

a {
  text-decoration: none;
  outline: none;
  color: inherit;
  transition: all .2s ease;
}
