* {
  margin: 0;
  padding: 0;
  font-family: pb;
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
}

body {
  background-color: var(--body-bg);
  -webkit-user-select: none;
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
}

a {
  color: var(--blue);
  font-size: 18px;
  font-family: var(--pr);
  text-decoration: underline;
  outline: none;
  transition: all .2s ease;
}

h1 {
  font-size: 2em;
  color: var(--white);
}

p {
  font-family: var(--pr);
  line-height: 23px;
  font-size: 18px;
  color: var(--p-color);
}

.horizontal-divider {
  width: 100%;
  height: 1px;
  background-color: var(--border-color);
}

.footnote {
  font-size: 14px;
}

.message-sent {
  position: fixed;
  top: 20px;
  right: 20px;
  left: 20px;
  z-index: 1;
  text-align: center;
  background-color: white;
  border-radius: 7px;
  padding: 20px;
  display: none;
}

.message-sent p {
  color: var(--black);
}
