/* COOLORS https://coolors.co/182b3a-56e39f-fcfcfc-424b54-160c28 */
@font-face {
  font-family: pr;
  src: url('fonts/Product Sans Regular.ttf');
}

@font-face {
  font-family: pb;
  src: url('fonts/Product Sans Bold.ttf');
}

:root {

  /* font weights */
  --regular: 400;
  --medium: 500;
  --bold: 600;

  /* font styles */
  --italic: italic;

  /* font family's */
  --pr: pr;
  --pb: pb;

  /* font colors */
  --white: white;
  --black: black;
  --green: #4CD964;
  --blue: #0095FF;
  --darken: brightness(0.8);
  --lighten: brightness(1.2);

  /* colors */
  --squadron: #182B3A;
  --body-bg: #FCFCFC;

  /* button colors */
  --primary: ;
  --primary-light: ;
  --primary-dark: ;
}
