/* COOLORS https://coolors.co/182b3a-56e39f-fcfcfc-424b54-160c28 */

:root {
  --regular: 400;
  --medium: 500;
  --bold: 700;


  --white: white;
  --balck: black;
  --translucent: 0.75;

  --squadron: #182B3A;

  --primary: #56E39F;
  --primary-light: #74E8B0;
  --primary-dark: #4FCF91;

  --secondary: #2F404E;
  --secondary-light: #465561;
  --secondary-dark: #182B3A;
}
