/* COOLORS https://coolors.co/182b3a-56e39f-fcfcfc-424b54-160c28 */
@font-face {
  font-family: pr;
  src: url('fonts/Product Sans Regular.ttf');
}

@font-face {
  font-family: pb;
  src: url('fonts/Product Sans Bold.ttf');
}

:root {

  /* font styles */
  --italic: italic;

  /* font family's */
  --pr: pr;
  --pb: pb;

  /* font colors */
  --white: white;
  --black: black;
  --blue: #2A7FF6;
  --input-color: rgba(255,255,255,0.05);
  --border-color: rgba(255,255,255,0.1);
  --p-color: rgba(220, 220, 255, 0.5);
  --invert: invert(1);
  --darken: brightness(0.8);
  --lighten: brightness(1.4);

  /* colors */
  --body-bg: #0e0f39;
  --body-bg-bedankt: #2e0f34;
  --body-bg-offerte: #0C2C25;
}
