.bedankt-pagina {
  background-image: url("../img/art-squadron-2.jpg");
}

body {
  background-color: var(--body-bg-bedankt);
}

.progression-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.progression {
  
}

.progression-image {
  padding: 15px;
  background-color: var(--input-color);
  border: 1px solid var(--border-color);
  border-radius: 7px;
  box-sizing: border-box;
  width: 100%;
}
