.button {
  font-size: 14px;
  height: 40px;
  padding: 0px 20px;
  line-height: 40px;
  text-align: center;
  border-radius: 3px;
  cursor: pointer;
  display: inline-block;
  background-color: var(--primary);
  color: var(--white);
  font-weight: var(--medium);
  transition: all .2s ease;
}

.button:hover {
  background-color: var(--primary-light);
}

.button:active {
  background-color: var(--primary-dark);
}

.secondary-button {
  font-size: 14px;
  height: 40px;
  padding: 0px 20px;
  line-height: 40px;
  text-align: center;
  border-radius: 3px;
  cursor: pointer;
  display: inline-block;
  background-color: var(--secondary);
  color: var(--white);
  font-weight: var(--medium);
  transition: all .2s ease;
}

.secondary-button:hover {
  background-color: var(--secondary-light);
}

.secondary-button:active {
  background-color: var(--secondary-dark);
}
