footer {
  text-align: center;
  border-top: 2px solid var(--input-color);
  background-color: rgba(255, 255, 255, 0.05);
}

.payment-providers {
  display: flex;
  justify-content: center;
  align-items: center;
}
