header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 80px;
  background-color: var(--squadron);
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
  padding: 0px 20px;
}

.header-logo {
  height: 40px;
}

.header-logo img {
  height: 40px;
  transition: all .2s ease;
}

.header-logo img:hover {
  transform: translateX(5px);
  filter: var(--darken);
}

.header-logo img:active {
  transform: translateX(0px);
  filter: var(--darken);
}

.header-nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-link {
  font-weight: var(--medium);
  color: var(--white);
  font-size: 14px;
  margin-left: 20px;
  transition: all .2s ease;
  position: relative;
  height: 40px;
  display: flex;
  align-items: center;
}

.nav-link:hover {
  transform: translateY(-3px);
}

.nav-link:active {
  transform: translateY(0px);
  filter: var(--darken);
}

.nav-link:hover .underline {
  visibility: visible;
  opacity: 1;
}

/* .nav-link:active .underline {
  display: none;
} */

.underline {
  visibility: hidden;
  opacity: 0;
  position: absolute;
  bottom: 0px;
  background-color: var(--primary);
  width: 100%;
  height: 3px;
  border-radius: 100px;
  transition: all .2s ease;
}
