header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 80px;
  background-color: var(--squadron);
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
  padding: 0px 30px;
}

.header-logo {
  height: 40px;
}

.header-logo img {
  height: 40px;
}

.header-nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-link {
  font-weight: var(--medium);
  color: var(--white);
  font-size: 14px;
  margin-left: 20px;
  transition: all .2s ease;
}

.nav-link {

}
