body {
  background-color: var(--body-bg-verzonden);
}

button {
  justify-content: space-between;
}

.payments-button {
  justify-content: space-between;
  background: var(--input-color);
  border: 1px solid var(--border-color);
}

a {
  text-decoration: none;
}
