section {
  margin: 0px 20px 0px 20px;
  text-align: center;
}

.art-image {
  width: 100%;
}

.art-container h1 {
  margin-top: -30px;
}

.left {
  margin-left: 30px;
  text-align: left;
}

.right {
  margin-right: 30px;
  text-align: right;
}

.price-container {
  border-radius: 7px;
  border: 1px solid rgba(255, 255, 255, 0.1);
  background-color: rgba(255, 255, 255, 0.05);
}

.price-top {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  border-bottom: 1px solid var(--border-color);
}

.price-top img {
  width: 25px;
  opacity: 0.5;
  margin-left: 10px;
}

.price-top h2 {
  color: var(--p-color);
}

.price-middle-item {
  margin: 20px;
}

.price-middle-item h3 {
  color: var(--white);
}

.price-middle-item p {
  color: var(--p-color);
  font-size: 16px;
}

.price-bottom-total {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: center;
  margin: 20px;
}

.price-bottom-total p {
  margin-right: 10px;
}

.price-bottom-text p {
  margin: 20px;
  font-size: 16px;
}

.price-bottom form {
  margin: 20px;
}

.progression-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.progression-image {
  padding: 15px;
  background-color: var(--input-color);
  border: 1px solid var(--border-color);
  border-radius: 7px;
  box-sizing: border-box;
  width: 100%;
}
