.sidebar {
  background-color: black;
  width: 250px;
  height: 100%;
  position: fixed;
  left: 0;
  top: 0;
}

.sidebar-top {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.05);
  user-select: none;
}

.sidebar-top img {
  width: 50px;
  margin-right: 10px;
}

.sidebar-top-company-info {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-direction: column;
}

.company-name {
  color: var(--white);
  font-weight: var(--medium);
  font-size: 14px;
}

.company-id {
  color: var(--white);
  opacity: 0.6;
  font-weight: var(--medium);
  font-size: 14px;
}

.company-status {
  margin-top: 5px;
  color: var(--green);
  font-weight: var(--medium);
  font-size: 14px;
}

.nav-item {
  height: 46px;
  display: flex;
  align-items: center;
  padding: 0px 20px;
  transition: all .1s ease;
}

.nav-item:hover {
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.13);
}

.nav-item a {
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
}

.nav-item a img {
  filter: grayscale(1);
  height: 25px;
  margin-right: 10px;
  opacity: 0.6;
  transition: all .1s ease;
}

.nav-item a span {
  transition: all .1s ease;
}

.nav-item:hover a img {
  opacity: 1!important;
}

.nav-item:hover a span {
  opacity: 1!important;
}

.nav-item-small {
  height: 46px;
  display: flex;
  align-items: center;
  padding: 0px 20px;
  transition: all .1s ease;
}
.nav-item-small a span {
  transition: all 0.1s ease;
}

.nav-item-small a span:hover {
  opacity: 1;
}

.nav-item-text {
  font-size: 16px;
  color: var(--white);
  opacity: 0.6;
}

.nav-item-text-small {
  font-family: var(--pr);
  font-size: 14px;
  color: var(--white);
  opacity: 0.4;
  text-decoration: underline;
}

.active {
  background-color: rgba(255, 255, 255, 0.1);
}
.active a span {
  opacity: 1!important;
}

.nav-divider {
  width: 100%;
  height: 1px;
  background-color: rgba(255, 255, 255, 0.1);
}
