/* COOLORS https://coolors.co/182b3a-56e39f-fcfcfc-424b54-160c28 */

:root {

  /* font weights */
  --light: 300;
  --regular: 400;
  --medium: 500;
  --bold: 700;

  /* font colors */
  --white: white;
  --black: black;
  --darken: brightness(0.8);
  --lighten: brightness(1.2);

  /* colors */
  --squadron: #182B3A;
  --body-bg: #FCFCFC;

  /* button colors */
  --primary: #56E39F;
  --primary-light: #74E8B0;
  --primary-dark: #4FCF91;

  --secondary: #2F404E;
  --secondary-light: #465561;
  --secondary-dark: #182B3A;
}
